<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple Navbar</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/adminDashboard.css') }}">
</head>
<body>
    <div class="navbar">
        <p>ADMIN DASHBOARD</p>
        <div class="nav-links">
            <a href="{{ url_for('logOutUser') }}">Log Out</a>
        </div>
    </div>
    <div class="main-content">
        <div class="forms">
            <form  action="{{ url_for('adminAddNewCounty') }}" method="post">
                <input type="text" name="countryName" placeholder="Country name" required>
                <button type="submit" name="formType" value="countryForm">Enter new country</button>
            </form>

            <form action="{{ url_for('adminAddNewCity') }}" method="post">
                <select name="countryName", required>
                    <option value="" disabled selected hidden>Choose country</option>
                {% for name in countryNames %}
                    <option value="{{ name }}">{{ name }}</option>
                {% endfor %}
                </select>
                <input type="text" name="cityName" placeholder="City name" required>
                <button type="submit" name="formType" value="cityForm">Enter new city</button>
            </form>
            <form action="{{ url_for('adminAddNewProfession') }}" method="post">
                <input type="text" name="professionName" placeholder="Profesion name" required>
                <button type="submit" name="formType" value="countryForm">Enter new proffesion</button>
            </form>
        </div>
    </div>

</body>
</html>
