<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple Navbar</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/adminDashboard.css') }}">
</head>
<body>
    <div class="navbar">
        <p>ADMIN DASHBOARD</p>
        <div class="nav-links">
            <a href="{{ url_for('logOutUser') }}">Log Out</a>
        </div>
    </div>
    <div class="main-content">
        <div class="forms">
            <form  method="post">
                <input type="text" name="countryName" placeholder="Country name" required>
                <button type="submit" name="formType" value="countryForm">Enter new country</button>
            </form>

            <form  method="post">
                <input type="text" name="countryName" placeholder="Country name" required>
                <input type="text" name="cityName" placeholder="City name" required>
                <button type="submit" name="formType" value="cityForm">Enter new city</button>
            </form>
        </div>
    </div>

</body>
</html>
