* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-image: url('../images/searchEngineBackground.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    min-height: 100vh;
}

.navbar {
    background-color: #1ad1ff;
    color: white;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
}

.nav-links {
    display: flex;
    gap: 5px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.nav-links a:hover {
    text-decoration: none;
}